<footer class="footer-section">
  <div class="footer-content">
    <div class="footer-column">
      <h4>Shop</h4>
      <ul>
        <li><a href="#">All</a></li>
        <li><a href="#">Home & Living</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Stationery</a></li>
        <li><a href="#">Sale</a></li>
        <li><a href="#">Gift Card</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Helpful Links</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Shipping Policy</a></li>
        <li><a href="#">Refund Policy</a></li>
        <li><a href="#">Cookie Policy</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Contact</h4>
      <p>info-mysite.com</p>
      <p>123-456-7890</p>
      <p>500 Terry Francine Street, San Francisco, CA 94158</p>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-tiktok"></i></a>
      </div>

    </div>
    <div class="footer-column">
      <h4>Subscribe</h4>
      <p>Subscribe to our newsletter and be among the first to hear about new arrivals, events and special offers.</p>
      <form class="subscribe-form">
        <input type="email" placeholder="Email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 by BALO</p>
  </div>
  <div class="footer-logo">
    <img src="assets/BA.png" alt="Logo">
  </div>
</footer>


