<div class="top-banner text-center bg-warning text-white py-2">
  Get your 50% off. <a href="#" class="text-white fw-bold">SHOP NOW</a>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <div class="container-fluid">
    <!-- Left side: Empty div for balance -->
    <div></div>

    <!-- Center: Logo and Navigation -->
    <div class="navbar-center text-center">
      <img routerLink="/" src="assets/BA.png" alt="Logo" class="navbar-brand">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accessories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stationery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sale</a>
        </li>
      </ul>
    </div>

    <!-- Right side: Empty div for balance -->
    <div></div>
  </div>
</nav>
