<div class="cover-photo-container">
  <img src="assets/cover.png" alt="Cover Photo" class="cover-photo-img" />
  <div class="cover-caption">
    <h1>Welcome to Our Store</h1>
    <p>Discover amazing products for your home and lifestyle.</p>
    <a href="#" class="btn btn-warning mt-3">Shop Now</a>
  </div>
</div>

<!-- section 2 -->

<app-product></app-product>

<!-- section 3 -->

<div class="cover-photo-container">
  <img src="assets/cover1.png" alt="Cover Photo" class="cover-photo-img" />
</div>

<!-- section 4 -->

<div class="additional-section">
  <div class="left-div">
    <img src="assets/1.png" alt="Product Photo" class="product-photo" />
  </div>
  <div class="right-div">
    <h2>Winter Socks</h2>
    <p>$15.00</p>
    <button class="btn">Add to Cart</button>
  </div>
</div>

<!-- section 5 -->

<div class="additional-section">
  <div class="right-div">
    <h2>Classic Tote Bag</h2>
    <p>$15.00</p>
    <button class="btn">Add to Cart</button>
  </div>
  <div class="left-div">
    <img src="assets/2.png" alt="Product Photo" class="product-photo" />
  </div>
</div>

<!-- section 6 -->

<app-carousel></app-carousel>
